*{
    padding: 0;
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

/* ======================================
banner css starts
====================================== */

header{
    background-image: url(../images/banner/banner1.png);
    height: 100vh;
    display: flex;
   justify-content: center;
   
}

.banner-container{
   width: 80%;
   text-align: right;
}

.banner-container .heading{
    font-weight: 700;
font-size: 35px;
color: #151414;
padding-top: 228px;
}
.banner-container .discribe{
    font-weight: 400;
font-size: 16px;
color: #444343;
padding-top: 28px;
}

.banner-container .primary-btn{
    border: none;
    background-color: #F15B22;
    font-weight: 600;
font-size: 20px;
color: #FFFFFF;
padding: 21px 26px;
border-radius: 5px;
margin-top: 32px;
text-transform: capitalize;

}

/* ======================================
previous year css starts
====================================== */

.previous-year{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 130px;
}

.previous-year .p-year-container{
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.previous-year .p-year-container .contant{
    margin-top: 240px;
    width: 47%;
}
.previous-year .p-year-container .image{
    width: 47%;
}
.previous-year .p-year-container .image img{
    width: 100%;
}

.previous-year .p-year-container .contant .heading{
    font-weight: 700;
font-size: 35px;
color: #151414;
}

.previous-year .p-year-container .contant .description{
    font-weight: 400;
font-size: 16px;
color: #444343;
padding-top: 24px;
}
.previous-year .p-year-container .contant ul{
    margin: 0;
    padding: 0;
    padding-top: 16px;
}
.previous-year .p-year-container .contant li{
    list-style: none;
    font-weight: 400;
font-size: 16px;
color: #444343;
padding-bottom: 8px;
}

.previous-year .p-year-container .contant li i{
    color: #16D887;
}

/* ======================================
plan css starts
====================================== */

.plans{
    margin-top: 130px;
    display: flex;
    justify-content: center;
}

.plans .plan-container{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.plans .plan-container .heading h3{
    font-weight: 700;
font-size: 40px;
color: #151414;
text-transform: capitalize;
}
.plans .plan-container .contant{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.plans .plan-container .contant .plan{
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.plans .plan-container .contant .plan img{
    width: 92px;
}
.plans .plan-container .contant .plan h4{
    font-weight: 700;
font-size: 30px;
color: #151414;
text-transform: capitalize;
padding-top: 16px;
}
.plans .plan-container .contant .plan p{
    font-weight: 500;
font-size: 25px;
color: #737272;
padding-top: 16px;
}


/* ======================================
mindset css starts
====================================== */

.mindset{
    margin-top: 130px;
    display: flex;
    justify-content: center;
}
.mindset .mindset-container{
    width: 80%;
    background-image:linear-gradient(to right, rgba(241, 91, 34, 1), rgba(255, 255, 255, 0)), url(../images/watch.png);
    border-radius: 8px;
}

.mindset .mindset-container h3{
    font-weight: 700;
font-size: 40px;
color: #FFFFFF;
padding-top: 60px;
padding-left: 64px;
}

.mindset .mindset-container .s-btn{
    padding: 21px 36px;  
background-color: #fff;
border: none;
border-radius: 5px;
margin-left: 64px;
margin-bottom: 60px;
margin-top: 24px;
text-transform: capitalize;
}

.mindset .mindset-container .s-btn a{
    font-weight: 600;
font-size: 20px;
color: #F15B22;
text-align: center;
text-decoration: none;

}